.textTitle {
        font-size: @fontSizeXL;
        color: @fontColorMain;
}

.textSimple {
        font-size: @fontSizeM;
        color: @fontColorDark;
}

.textSmall {
        font-size: @fontSizeSM;
        color: @corporateColor1;
}
