.itemsTable_menuItem {
  height: auto !important;
}
.itemsTable_menuItem :hover {
  background-color: #d0f0a1;
}
.itemsTable_title {
  color: black;
  font-size: 32px;
  height: auto;
  white-space: normal;
}
.itemsTable_text {
  height: auto;
  white-space: normal;
  color: #223657;
  font-size: 18px;
  line-height: 28px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header_rightBlock {
  align-self: auto;
  font-size: 36px;
  color: #006699;
}
.header_leftBlock {
  align-self: auto;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}
.header_c {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  margin: 6px 20px 0 20px;
  border-radius: 25px;
  background-color: #006699;
}
.header_c_inside {
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #f5f5f5;
}
.header_coachess {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header_coachess_text {
  font-size: 40px;
  color: black;
}
.header_coachess_coa {
  font-weight: bold;
}
.header_coachess_chess {
  font-weight: normal;
}
.headerMenuWrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 30px;
}
body {
  margin-bottom: 50px;
}
.textTitle {
  font-size: 40px;
  color: black;
}
.textSimple {
  font-size: 24px;
  color: #223657;
}
.textSmall {
  font-size: 18px;
  color: #006699;
}
