.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &_rightBlock {
        align-self: auto;
        font-size: 36px;
        color: @corporateColor1;
    }

    &_leftBlock {
        align-self: auto;
        display: flex;
        justify-content: flex-start;
        align-self: center;
    }

    &_c {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        min-height: 50px;
        max-height: 50px;
        margin: 6px 20px 0 20px;
        border-radius: 25px;
        background-color: @corporateColor1;

        &_inside {
            padding-bottom: 5px;
            padding-right: 5px;
            font-size: 36px;
            line-height: 36px;
            font-weight: bold;
            color: @fontColorLight;
        }
    }

    &_coachess {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &_text {
            font-size: 40px;
            color: @fontColorMain;
        }

        &_coa {
            font-weight: bold;
        }

        &_chess {
            font-weight: normal;
        }
    }
}

.headerMenuWrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    padding-bottom: 30px;
}


