.itemsTable {

    &_menuItem {
        height: auto !important;
    }

    &_menuItem :hover {
        background-color: @hoverBgr;

    }

    &_title {
        color: @fontColorMain;
        font-size: @fontSizeL;
        height: auto;
        white-space: normal;
    }

    &_text {
        @itemsTableTextlineHeight: @fontSizeSM + 10px;
        height: auto;
        white-space: normal;
        color: @fontColorDark;
        font-size: @fontSizeSM;
        line-height: @itemsTableTextlineHeight;
    }
}
